apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: '13'
    kubectl.kubernetes.io/last-applied-configuration: '{"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"labels":{"template":"sonarqube-pgsql-db-template"},"name":"sonar","namespace":"sonarqube-dev-axa-magi-id"},"spec":{"replicas":1,"revisionHistoryLimit":3,"selector":{"matchLabels":{"name":"sonar"}},"strategy":{"type":"Recreate"},"template":{"metadata":{"labels":{"name":"sonar"}},"spec":{"containers":[{"env":[{"name":"SONAR_JDBC_URL","value":"jdbc:postgresql://sonar-pgsql:5432/sonar"},{"name":"SONAR_JDBC_USERNAME","value":"sonar"},{"name":"SONAR_JDBC_PASSWORD","value":"sonar"}],"image":"sonarqube:latest","imagePullPolicy":"IfNotPresent","livenessProbe":{"failureThreshold":30,"httpGet":{"path":"/","port":9000,"scheme":"HTTP"},"initialDelaySeconds":420,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3},"name":"sonarqube","ports":[{"containerPort":9000,"protocol":"TCP"}],"readinessProbe":{"failureThreshold":3,"httpGet":{"path":"/","port":9000,"scheme":"HTTP"},"initialDelaySeconds":3,"periodSeconds":10,"successThreshold":1,"timeoutSeconds":3},"resources":{"limits":{"cpu":"1000m","memory":"2Gi"},"requests":{"cpu":"500m","memory":"2Gi"}},"securityContext":{"privileged":false},"terminationMessagePath":"/dev/termination-log","terminationMessagePolicy":"File","volumeMounts":[{"mountPath":"/opt/sonarqube/data","name":"sonar-data"},{"mountPath":"/opt/sonarqube/logs","name":"sonar-logs"},{"mountPath":"/opt/sonarqube/extensions","name":"sonar-extensions"}]}],"dnsPolicy":"ClusterFirst","schedulerName":"default-scheduler","terminationGracePeriodSeconds":30,"volumes":[{"name":"sonar-data","persistentVolumeClaim":{"claimName":"sonar-data-pv"}},{"name":"sonar-logs","persistentVolumeClaim":{"claimName":"sonar-logs-pv"}},{"name":"sonar-extensions","persistentVolumeClaim":{"claimName":"sonar-extensions-pv"}}]}}}}'
  creationTimestamp: '2025-06-17T07:08:11Z'
  generation: 45
  labels:
    template: sonarqube-pgsql-db-template
  managedFields:
  - apiVersion: apps/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          .: {}
          f:kubectl.kubernetes.io/last-applied-configuration: {}
        f:labels:
          .: {}
          f:template: {}
      f:spec:
        f:progressDeadlineSeconds: {}
        f:revisionHistoryLimit: {}
        f:selector: {}
        f:strategy:
          f:type: {}
        f:template:
          f:metadata:
            f:labels:
              .: {}
              f:name: {}
          f:spec:
            f:containers:
              k:{"name":"sonarqube"}:
                .: {}
                f:env:
                  .: {}
                  k:{"name":"SONAR_JDBC_PASSWORD"}:
                    .: {}
                    f:name: {}
                    f:value: {}
                  k:{"name":"SONAR_JDBC_URL"}:
                    .: {}
                    f:name: {}
                    f:value: {}
                  k:{"name":"SONAR_JDBC_USERNAME"}:
                    .: {}
                    f:name: {}
                    f:value: {}
                f:image: {}
                f:imagePullPolicy: {}
                f:livenessProbe:
                  .: {}
                  f:failureThreshold: {}
                  f:httpGet:
                    .: {}
                    f:path: {}
                    f:port: {}
                    f:scheme: {}
                  f:initialDelaySeconds: {}
                  f:periodSeconds: {}
                  f:successThreshold: {}
                  f:timeoutSeconds: {}
                f:name: {}
                f:ports:
                  .: {}
                  k:{"containerPort":9000,"protocol":"TCP"}:
                    .: {}
                    f:containerPort: {}
                    f:protocol: {}
                f:readinessProbe:
                  .: {}
                  f:failureThreshold: {}
                  f:httpGet:
                    .: {}
                    f:path: {}
                    f:port: {}
                    f:scheme: {}
                  f:initialDelaySeconds: {}
                  f:periodSeconds: {}
                  f:successThreshold: {}
                  f:timeoutSeconds: {}
                f:resources:
                  .: {}
                  f:limits: {}
                  f:requests: {}
                f:securityContext:
                  .: {}
                  f:privileged: {}
                f:terminationMessagePath: {}
                f:terminationMessagePolicy: {}
                f:volumeMounts:
                  .: {}
                  k:{"mountPath":"/opt/sonarqube/data"}:
                    .: {}
                    f:mountPath: {}
                    f:name: {}
                  k:{"mountPath":"/opt/sonarqube/extensions"}:
                    .: {}
                    f:mountPath: {}
                    f:name: {}
                  k:{"mountPath":"/opt/sonarqube/logs"}:
                    .: {}
                    f:mountPath: {}
                    f:name: {}
            f:dnsPolicy: {}
            f:restartPolicy: {}
            f:schedulerName: {}
            f:securityContext: {}
            f:terminationGracePeriodSeconds: {}
            f:volumes:
              .: {}
              k:{"name":"sonar-data"}:
                .: {}
                f:name: {}
                f:persistentVolumeClaim:
                  .: {}
                  f:claimName: {}
              k:{"name":"sonar-extensions"}:
                .: {}
                f:name: {}
                f:persistentVolumeClaim:
                  .: {}
                  f:claimName: {}
              k:{"name":"sonar-logs"}:
                .: {}
                f:name: {}
                f:persistentVolumeClaim:
                  .: {}
                  f:claimName: {}
    manager: kubectl-client-side-apply
    operation: Update
    time: '2025-06-17T07:08:11Z'
  - apiVersion: apps/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:spec:
        f:template:
          f:metadata:
            f:annotations:
              .: {}
              f:openshift.openshift.io/restartedAt: {}
          f:spec:
            f:containers:
              k:{"name":"sonarqube"}:
                f:resources:
                  f:limits:
                    f:cpu: {}
                    f:memory: {}
                  f:requests:
                    f:cpu: {}
                    f:memory: {}
    manager: Mozilla
    operation: Update
    time: '2025-06-23T09:42:22Z'
  - apiVersion: apps/v1
    fieldsType: FieldsV1
    fieldsV1:
      f:metadata:
        f:annotations:
          f:deployment.kubernetes.io/revision: {}
      f:status:
        f:availableReplicas: {}
        f:conditions:
          .: {}
          k:{"type":"Available"}:
            .: {}
            f:lastTransitionTime: {}
            f:lastUpdateTime: {}
            f:message: {}
            f:reason: {}
            f:status: {}
            f:type: {}
          k:{"type":"Progressing"}:
            .: {}
            f:lastTransitionTime: {}
            f:lastUpdateTime: {}
            f:message: {}
            f:reason: {}
            f:status: {}
            f:type: {}
        f:observedGeneration: {}
        f:readyReplicas: {}
        f:replicas: {}
        f:updatedReplicas: {}
    manager: kube-controller-manager
    operation: Update
    subresource: status
    time: '2025-06-25T06:08:19Z'
  name: sonar
  namespace: sonarqube-developer-prod-axa-magi-id
  resourceVersion: '1422055810'
  uid: 63ad4ff9-c6a4-4d89-ab1e-5e7ee356d522
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      name: sonar
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        name: sonar
    spec:
      containers:
      - env:
        - name: SONAR_JDBC_URL
          value: jdbc:postgresql://sonar-pgsql:5432/sonar
        - name: SONAR_JDBC_USERNAME
          value: sonar
        - name: SONAR_JDBC_PASSWORD
          value: sonar
        image: sonarqube:developer
        imagePullPolicy: IfNotPresent
        livenessProbe:
          failureThreshold: 30
          httpGet:
            path: /
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 420
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        name: sonarqube
        ports:
        - containerPort: 9000
          protocol: TCP
        readinessProbe:
          failureThreshold: 3
          httpGet:
            path: /
            port: 9000
            scheme: HTTP
          initialDelaySeconds: 3
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        resources:
          limits:
            cpu: '2'
            memory: 3Gi
          requests:
            cpu: '1'
            memory: 2Gi
          securityContext:
            privileged: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /opt/sonarqube/data
          name: sonar-data
        - mountPath: /opt/sonarqube/logs
          name: sonar-logs
        - mountPath: /opt/sonarqube/extensions
          name: sonar-extensions
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: sonar-data
        persistentVolumeClaim:
          claimName: sonar-data-pv
      - name: sonar-logs
        persistentVolumeClaim:
          claimName: sonar-logs-pv
      - name: sonar-extensions
        persistentVolumeClaim:
          claimName: sonar-extensions-pv
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: '2025-06-17T07:08:11Z'
    lastUpdateTime: '2025-06-23T09:42:53Z'
    message: ReplicaSet "sonar-5f6f4df45" has successfully progressed.
    reason: NewReplicaSetAvailable
    status: 'True'
    type: Progressing
  - lastTransitionTime: '2025-06-25T06:08:19Z'
    lastUpdateTime: '2025-06-25T06:08:19Z'
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: 'True'
    type: Available
  observedGeneration: 45
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
